@import './Color.scss';

@mixin btn-base {
  border-radius: 2rem;
  margin-bottom: 1rem;
  border-style: hidden;
  height: 2.8rem;

  &:hover {
    cursor: pointer;
  }
}

@mixin sign-in-and-sign-up-button {
  @include btn-base;

  font-weight: bold;
  font-size: 1.25rem;
  color: white;
  background-color: $button-primary-color;
  width: 25.8rem;

  &:disabled {
    background: $button-disabled-color;
    cursor: not-allowed;
  }
}

@mixin sign-in-external-button {
  @include btn-base;

  width: 12.5rem;
  background-color: white;
  color: $text-color;
  font-size: 1rem;
}
