// Navigation Bar
$nav-primary-color: #55acee;
$nav-secondary-color: #000000;

// Button
$button-primary-color: #55acee;
$button-secondary-color: #66757f;
$button-disabled-color: rgba(85, 172, 238, 0.5);
$button-deselected-real-color: rgba(85, 238, 129, 0.5);
$button-selected-real-color: rgba(85, 238, 129, 1);
$button-deselected-fake-color: rgba(238, 85, 85, 0.5);
$button-selected-fake-color: rgba(238, 85, 85, 1);

// Text
$text-color: #66757f;
$body-text-color: #000000;

// Background
$nav-background-color: #ffffff;
$content-background-color: #f5f9fb;

// Brand Color
$google-color: #c71c1c;
$twitter-color: #55acee;
