// Navigation Bar
$nav-primary-color: #55acee;
$nav-secondary-color: #000000;

// Button
$button-primary-color: #55acee;
$button-secondary-color: #66757f;
$button-disabled-color: rgba(85, 172, 238, 0.5);

// Text
$text-color: #66757f;

// Background
$nav-background-color: #ffffff;
$content-background-color: #f5f9fb;

// Brand Color
$google-color: #c71c1c;
$twitter-color: #55acee;