@import '../Util/Styles/Color.scss';

.twitter-sign-in {
  color: #55acee;
  font-size: 1rem;
  font-family: 'Open Sans', sans-serif;
  background-color: white;
  border-radius: 2rem;
  width: 25.8rem;
  height: 2rem;
  border-style: hidden;
  margin-bottom: 0.5rem;
}

.google-sign-in {
  color: #c71515;
  font-size: 1rem;
  font-family: 'Open Sans', sans-serif;
  background-color: white;
  border-radius: 2rem;
  width: 25.8rem;
  height: 2rem;
  border-style: hidden;
  margin-bottom: 1rem;
}
