@import '../Util/Styles/BodyText.scss';

.tweet {
  @include body-text;
  text-align: left;
  max-width: 43.75rem;
  padding: 1.5rem;
  background-color: #ffffff;
  color: black;

  &__name {
    font-size: 1.25rem;
    font-weight: 800;
  }

  &__tag {
    font-style: italic;
  }

  &__content {
    font-size: 1.25rem;
  }

  &__submit-by,
  &__submit-time {
    font-size: 0.935rem;
  }

  &__authenticity-score {
    font-size: 0.935rem;
    color: #78c71d;
  }

  &__stage {
    @include body-text;
    font-size: 0.935rem;
  }
}
