@import '../../Util/Styles/Color.scss';
@import '../../Util/Styles/Button.scss';
@import '../../Util/Styles/BodyText.scss';

.step-two {
  &__animation {
    // padding: 0 auto;
  }

  &__description {
    p {
      @include body-text;
    }
  }

  &__button {
    @include regular-blue-button;
  }

  text-align: center;
}
