@import '../Util/Styles/Color.scss';

.base-layout {
  display: grid;
  grid-template-areas: 'navbar appbar' 'navbar pagecontent';
  grid-template-columns: 3fr 7fr;
  grid-template-rows: 1fr 8fr;
  height: 100vh;
  max-height: 100vh;

  .nav-bar {
    grid-area: navbar;
    background-color: $nav-background-color;
    padding: 1rem;
    box-shadow: 3px 0px 8px 0px rgba(0, 0, 0, 0.07);
    z-index: 10;
  }

  .header {
    padding: 1rem;
    padding-left: 5rem;
    grid-area: appbar;
    background-color: $content-background-color;
  }

  .content {
    padding: 1rem;
    padding-left: 5rem;
    grid-area: pagecontent;
    background-color: $content-background-color;
  }
}
