@import '../Util/Styles/Color.scss';
@import '../Util/Styles/Button.scss';

.error-404 {
  width: 70%;

  &__oops {
    font-weight: 400;
    color: $text-color;
    text-align: center;
    font-size: 2rem;
  }

  &__description {
    font-weight: 400;
    color: $text-color;
    text-align: center;
    font-size: 1.2rem;
  }

  &__twitter {
    color: $twitter-color;
  }

  &__btn {
    display: block;
    margin: auto;
    @include regular-blue-button;
  }
}
