@import '../Util/Styles/Color.scss';
@import '../Util/Styles/ErrorMessage.scss';
@import '../Util/Styles/Button.scss';
@import '../Util/Styles/FormInput.scss';
@import '../Util/Styles/FormLabel.scss';

.sign-in {
  width: 80%;

  &__form {
    &--error {
      @include error-message;
    }

    &__submit-btn {
      @include sign-in-and-sign-up-button;
    }

    label,
    input {
      display: block;
    }

    label {
      @include form-label;
    }

    input {
      @include form-input;
    }

    div {
      margin-bottom: 1rem;
    }

    &__forget-password {
      margin-left: 16rem;
      color: $nav-primary-color;

      &:visited {
        color: $nav-primary-color;
      }
    }
  }

  &__google-button {
    @include sign-in-external-button;

    strong {
      color: $google-color;
    }
  }

  &__twitter-button {
    @include sign-in-external-button;

    margin-left: 0.8rem;

    strong {
      color: $twitter-color;
    }
  }
}
