@import '../Util/Styles/Color.scss';
@import '../Util/Styles/ErrorMessage.scss';
@import '../Util/Styles/Button.scss';
@import '../Util/Styles/FormInput.scss';
@import '../Util/Styles/FormLabel.scss';

.sign-up {
  &__form {
    &--error {
      @include error-message;
    }

    &__submit-btn {
      @include sign-in-and-sign-up-button;
    }

    &__password-group {
      margin-top: 5rem;
    }

    label,
    input {
      display: block;
    }

    label {
      @include form-label;
    }

    input {
      @include form-input;
    }

    div {
      margin-bottom: 1rem;
    }
  }
}
