@import '../../Util/Styles/Color.scss';
@import '../../Util/Styles/Button.scss';
@import '../../Util/Styles/BodyText.scss';

.investigate-step-five {
  &__description {
    p {
      @include body-text;
      font-size: 2rem;
    }

    margin-bottom: 12rem;
  }

  &__button {
    @include regular-blue-button;
  }

  text-align: center;
}
